* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

input[type='text'], select {
	outline: none;
	padding: 0 12px;
	width: 100%;
}

textarea {
	resize: none;
}

body {
	font-size: 14px;
	font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
	color: #000;
	background: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	font-size: 14px;
}

.fl {
	float: left
}

.fr {
	float: right
}